.header {
  width: 100%;
  background: #4cd1f9;
}

.header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 1rem;
}

.header ul a {
  color: white;
  text-decoration: none;
}

.header div:has(img) {
  border: 1px solid red;
  height: 4rem;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header form {
  border: 1px solid blue;
  padding: 0.55em 0.85em;
  border-radius: 0.45em;
  background-color: whitesmoke;
}

.header form > input {
  border: 0;
  outline: 0;
  background: transparent;
}
